* {
    margin: 0;
    padding: 0%;
}

h3 {
    text-align: center;
    margin: 1rem;
}

.repository-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

.repository-list li {
    width: 25%;
    padding: 5px;
    box-sizing: border-box;
}

/* Responsive Styling */
@media screen and (max-width: 768px) {
    .repository-list li {
        width: 50%;
    }
}

@media screen and (max-width: 480px) {
    .repository-list li {
        width: 100%;
    }
}