.searchBar-container{
    width: 99%;
    align-items: center;
}

form {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form h1 {
    margin-top: 0;
    color: #727272;
}

form input {
    margin-top: 1rem;
    color: white;
    transition: 0.3s ease;
    border: none;
    border-radius: 20px;
    width: 30rem;
    height: 2.5rem;
    padding-left: 48px;
    background-color: rgb(61, 66, 70);

}

form input:hover {
    background: #353535;

}

form input:focus {
    outline: 2px solid skyblue;
}

form button {
    color: #727272;
    background-color: #444444;
    border-radius: 15px;
    width: 5rem;
    height: 1.8rem;
    border: 1px solid #393838;
    transition: 0.3s ease;
}

form button:hover {
    color: #848484;
    background: #353535;
    border: 1px solid #393838;
}

.search-icon-container {
    position: relative;
    top: -1.9rem;
    left: 8px;
    /* transform: translateY(-2%); */
}

.search-icon {
    font-size: 20px;
    color: rgb(117, 117, 117);
}

.search-icon-container {
    width: 4%;
}

.searchBar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container img {
    margin-top: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    opacity: 0.8;
    /* Adjust the opacity value as needed */
}

@media (max-width:820px) {
    form input {
        width: 21rem;
    }

    form h1 {
        margin-top: 1rem;
    }

    .repoList li {
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
        justify-content: space-between;
    }

    .image-container img {
        margin-top: 5rem;
        width: 20%;
    }
}

@media (max-width:499px) {
    form h1 {
        font-size: 24px;
    }

    .image-container img {
        margin-top: 10rem;
        width: 50%;
    }

    .logo {
        font-size: 18px;

    }

    form input {

        width: 17rem;
        height: 2.5rem;
    }

    .detail-card {
        text-align: left;
    }

    .profile-desc {
        text-align: left;
    }
}